<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <section class="contacto" id="contacto">
        <div class="banner">
            <p>Tienes algun proyecto?</p>
            <h2>Trabajemos juntos!</h2>
        </div>
        <div class="contenido">
            <h2 class="titulo-seccion">CONTACTAME AHORA</h2>
            <div class="fila">
                <div class="item">
                    <span class="icono">
                        <i class="fa-solid fa-location-dot"></i>
                    </span>
                    <h3>Mi Ubicación</h3>
                    <p>Av. Santa Monica  <br> Qro</p>
                </div>
                <div class="item">
                    <span class="icono">
                        <i class="fa-solid fa-phone"></i>
                    </span>
                    <h3>Número Teléfono</h3>
                    <p>(+52) 77-21-79-29-12
                </div>
                <div class="item">
                    <span class="icono">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <h3>Dirección Email</h3>
                    <p>gris01cordova@gmail.com</p>
                </div>
            </div>
                <div class="col">
                    <img src="img/mapa1.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer')%>
  
</body>
</html>