<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <section class="curriculum" id="curriculum">
        <div class="contenido">
            <h2 class="titulo-seccion">EDUCACION Y EXPERIENCIA</h2>
            <div class="recorrido-anios derecha">
                <div class="dato dato-der">
                    <div class="anio b1">2020</div>
                    <div class="linea c1"></div>
                    <div class="info c1">
                        <h3>Web Developer</h3>
                        <p>Desarrollo web, Scrum, Xp, webServices, Mysql, Firebase, Jquerys.</p>
                    </div>
                </div>
            </div>
            <div class="recorrido-anios izquierda">
                <div class="dato dato-izq">
                    <div class="info c2">
                        <h3>Redes</h3>
                        <p>Configuraciones, instalacion, mantenimiento a equipos cisco, servicios de enlace
                            de datos, decremento de ancho de banda, diagnostico de incidencias por caidas de 
                             enlaces. </p>
                    </div>
                    <div class="linea c2"></div>
                    <div class="anio b2">2021</div>
                </div>
            </div>
            <div class="recorrido-anios derecha">
                <div class="dato dato-der">
                    <div class="anio b3">2023</div>
                    <div class="linea c3"></div>
                    <div class="info c3">
                        <h3>Redes y Soprte Tecnico</h3>
                        <p>Administracion y desarrollo de paginas web, sistemas web, cuentas de correos electronicos, 
                            conmutadores, redes inalambricas, configuracion de servidores.</p>
                    </div>
                </div>
            </div>
            <div class="recorrido-anios izquierda">
                <div class="dato dato-izq">
                    <div class="info c4">
                        <h3>Soporte Tecnico.</h3>
                        <p>Instalacion de sistemas operativos, antivirus, paqueteria office, administrador de servidores
                            mantenimiento y reparacion de hardware, administracion de redes, configuracion de escritirios
                            remotos, administracion y configuracion de cuentas de correo, respaldos de informacion,formateo.</p>
                    </div>
                    <div class="linea c4"></div>
                    <div class="anio b4">2024</div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer')%>
   
</body>
</html>