<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <section class="servicios" id="servicios">
        <div class="contenido">
            <h2 class="titulo-seccion">MIS SERVICIOS</h2>
            <div class="items-servicios">
                <div class="item">
                    <i class="fa-solid fa-code"></i>
                    <h3>Desarrollo</h3>
                    <p>Realizo la creaci칩n de sitios web, aplicaci칩es o un software.</p>
                </div>
                <div class="item">
                    <i class="fa-solid fa-object-group"></i>
                    <h3>Sistemas Operativos</h3>
                    <p>Microsoft Windows, Unix, GNU/Linux, Mac OS, Solaris, Google chrome OS, 
                        Debian, Ubuntu, Mandriva, Sabayon, Fedora y Reactos.</p>
                </div>
                <div class="item">
                    <i class="fa-solid fa-microphone"></i>
                    <h3>Tester</h3>
                    <p>Evaluo la calidad y el funcionamiento de un software antes de su lanzamiento.</p>
                </div>
                <div class="item">
                    <i class="fa-solid fa-download"></i>
                    <h3>Administrador de Redes</h3>
                    <p>Superviso los sistemas inform치ticos y las redes de bases de datos.</p>
                </div>
                <div class="item">
                    <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                    <h3>Administracion de Servidores</h3>
                    <p>Me encargo  de la gesti칩nar y dar mantenimiento de los equipos que almacenan datos.</p>
                </div>
                <div class="item">
                    <i class="fa-solid fa-circle-question"></i>
                    <h3>Soporte Tecnico</h3>
                    <p>Brindo servico para solucionar problemas con sistemas, hardware y software.</p>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer')%>
   
</body>
</html>