<footer>
  <h2>GRIS DEVELOPER JR</h2>

  <div class="redes">
      <span class="red r1">
          <i class="fa-brands fa-facebook-f"></i>
      </span>
      <span class="red r2">
          <i class="fa-brands fa-x-twitter"></i>
      </span>
      <span class="red r3">
          <i class="fa-brands fa-instagram"></i>
      </span>
  </div>

  <p>Todos los derechos reservados <a href="/">GRIS DEVELOPER JR</a></p>

</footer>
