<section class="inicio" id="inicio">
    <div class="contenido">
        <header>
            <h1><a href="/">GRISELDA</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/sobremi">Sobre Mí</a></li>
                    <li><a href="/servicios">Servicios</a></li>
                    <li><a href="/curriculum">Curriculum</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
            <div class="nav-responsive">
                <a href="/">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a href="/sobremi">
                    <i class="fa-solid fa-user"></i>
                </a>
                <a href="/servicios">
                    <i class="fa-solid fa-gear"></i>
                </a>
                <a href="/curriculum">
                    <i class="fa-solid fa-square-poll-vertical"></i>
                </a>
                <a href="/contacto">
                        <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
        </header>
        <h2 class="frase">Hola, soy GRISELDA <span class="resaltar">Web Developer.</span></h2>
    </div>

    <a href="/">
        <div class="subir">
            <i class="fa-solid fa-arrow-up"></i>
        </div>
    </a>

</section>